@import url("https://fonts.google.com/specimen/Lato");

font{
    font-family: "lato";
    src: url("css/font/Lato-BoldItalic.woff");
    src: url("css/font/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "raleway";
    src: url("css/font/Raleway-BoldItalic.woff");
    src: url("css/font/Raleway-BoldItalic.ttf") format("truetype");
}

.cv-container{
    max-width: 900px;
    margin: auto;
    background: white;
}

.cv-container img{
    align-items: center;
    width: 30px;
    margin: 5px;
    cursor: pointer;
}

header{
    background-color: #17abb3;
    color: white;
    padding: 30px;
    text-align: center;
}

img{
    vertical-align: middle;
}

.profile-pic img{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border: 5px solid white;
    object-fit: cover;
    margin-right: 800px;
    cursor: zoom-in;
}

header h1{
    gap: 20px;
    margin: 10px 0 5px 0;
    letter-spacing: 2px;
}

.main-content{
    display: flex;
    min-height: 800px;
}

.main-content h2{
    color: #17abb3;
    margin-right: 60px;
}

.h2 span{
    color: #17abb3;
}


.main-content aside{
    background-color: #e3e3e3; /*(rgb 227, 227, 227 */
    padding: 20px;
}

.content{
    flex: 2;
    padding: 30px;
}

.content h2{
    color: #17abb3;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.item{
    margin-bottom: 20px;
}

.item-header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date{
    font-size: 0.85rem;
    color: #17abb3;
    font-weight: bold;
}


footer{
    background-color: #17abb3;
    text-align: center;
    color: white;
    height: 100px;
}

.social-icons img{
    width: 30px;
    font-size: 1.5rem;
    margin: 15px;
    cursor: pointer;
}

.main-content span{
    color: #17abb3;
}

main section{
    margin: 15px;
}

.header-text h1{
    margin-top: -40px;
    position: relative;
    top: -70px;
    margin-left: 90px;
}

.grid-container span img{
    display: block;
    grid-template-columns: 1fr 1fr;
}

.main-content aside section span{
    display: flex;
    justify-content: end;
    margin: -15px;
}

.main-content section ul li{
    justify-items: right;
    margin-right: 20%;
}

.main-content section ul li{
    list-style-type: square;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    margin-left: 350px;
    margin-top: -50px; 
    padding-right: 150px;
}

.grid-container a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.skill-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin-bottom: 10px;
}

.skill-row strong{
    min-width: 100px;
}

.skill-row span{
    color: #17abb3;
    font-size: 1.2em;
}